Repository rjunsk/tme-playground: changes, and which CircleCI parameters are due for each by the changed paths.
All: video-composer-updated, audio-mixer-updated

trigger pipeline job
  audio-mixer/src/App.tsx
  video-composer/src/App.tsx
Due: video-composer-updated, audio-mixer-updated

trigger pipeline job
  video-composer/jest.config.js
Due: video-composer-updated

such an amazing new feature
  video-composer/src/App.tsx
Due: video-composer-updated

another feature
  package.json
Due: none

another feature
  video-composer/src/App.tsx
Due: video-composer-updated

bump version video-composer
  video-composer/package.json
Due: video-composer-updated

use custom ssh key
  .circleci/continue_config.yml
Due: none

bump video composer version to 1.2
  video-composer/package.json
  video-composer/src/App.tsx
Due: video-composer-updated

Bump video-composer rc version [skip ci]
  video-composer/package.json
Due: video-composer-updated

add e2e tests to prs
  .circleci/continue_config.yml
  cypress/integration/stable/video-composer.e2e.js
  package.json
Due: none

fix config
  .circleci/continue_config.yml
Due: none

bump version
  video-composer/package.json
  video-composer/src/App.tsx
Due: video-composer-updated

bump video composer version to 1.4
  video-composer/package.json
  video-composer/src/App.tsx
Due: video-composer-updated

Increment video-composer versions [skip ci]
  video-composer/package.json
Due: video-composer-updated

Revert "bump video composer version to 1.4"
  video-composer/package.json
  video-composer/src/App.tsx
Due: video-composer-updated

patch update for revert excercise
  video-composer/package.json
Due: video-composer-updated

correct version
  video-composer/package.json
Due: video-composer-updated

video composer 1.5
  video-composer/package.json
  video-composer/src/App.tsx
Due: video-composer-updated

add new ci jobs for legacy video-composer version
  .circleci/continue_config.yml
Due: none

fix npm task name
  package.json
Due: none

video composer v2
  .circleci/continue_config.yml
  package.json
  video-composer/package.json
  video-composer/src/App.tsx
Due: video-composer-updated

add tests
  cypress/integration/audio-mixer.integration.js
  cypress/integration/stable/video-composer.e2e.js
Due: none

add tests
  cypress/integration/audio-mixer.e2e.js
Due: none

add tests
  cypress/integration/video-composer.e2e.js
  cypress/integration/video-composer.integration.js
Due: none

add tests
  cypress/integration/video-composer.e2e.js
Due: none

Creating a new feature
  video-composer/package.json
  video-composer/src/App.tsx
Due: video-composer-updated

Feature test deploy
  video-composer/src/App.tsx
Due: video-composer-updated

Update CircleCI
  .circleci/continue_config.yml
  package.json
  scripts/increment-version.sh
Due: none

Path conditions:
  video-composer-updated: any of: video-composer/.*
  audio-mixer-updated: any of: audio-mixer/.*
