Repository rjunsk/tme-playground: changes, and which CircleCI parameters are due for each by the changed paths.
All: video-composer-updated, audio-mixer-updated

Create feature test-2
  video-composer/src/App.tsx
Due: video-composer-updated

Bump video-composer rc version [skip ci]
  video-composer/package.json
Due: video-composer-updated

Increment video-composer versions [skip ci]
  video-composer/package.json
Due: video-composer-updated

Introduce typo
  audio-mixer/src/App.tsx
Due: audio-mixer-updated

bump version
  audio-mixer/package.json
Due: audio-mixer-updated

bump version again
  audio-mixer/package.json
Due: audio-mixer-updated

Update package.json
  audio-mixer/package.json
Due: audio-mixer-updated

Bump audio-mixer rc version [skip ci]
  audio-mixer/package.json
Due: audio-mixer-updated

Increment audio-mixer versions [skip ci]
  audio-mixer/package.json
Due: audio-mixer-updated

audio-mixer patch release
  .vscode/settings.json
  audio-mixer/src/App.tsx
Due: audio-mixer-updated

video composer patch release
  video-composer/src/App.tsx
Due: video-composer-updated

video composer patch release (#2)
  video-composer/src/App.tsx
Due: video-composer-updated

increment package version
  video-composer/package.json
Due: video-composer-updated

Test video release (#3)
  video-composer/package.json
Due: video-composer-updated

update fingerprint
  .circleci/continue_config.yml
  .tme-playground-circleci.swp
  tme-playground-circleci
  tme-playground-circleci.pub
Due: none

Test release (#4)
  .circleci/continue_config.yml
  .tme-playground-circleci.swp
  tme-playground-circleci
  tme-playground-circleci.pub
Due: none

update package.json
  video-composer/package.json
Due: video-composer-updated

update package.json (#5)
  video-composer/package.json
Due: video-composer-updated

remove
  .tme-playground-circleci.swp
  tme-playground-circleci
  tme-playground-circleci.pub
Due: none

update fingerprint
  .circleci/continue_config.yml
Due: none

update version
  video-composer/package.json
Due: video-composer-updated

remove (#6)
  .circleci/continue_config.yml
  .tme-playground-circleci.swp
  tme-playground-circleci
  tme-playground-circleci.pub
  video-composer/package.json
Due: video-composer-updated

Test conventional change log release - 1
  .github/workflows/main.yml
Due: none

fix(audio-mixer): Test conventional commit 1
  audio-mixer/src/App.tsx
Due: audio-mixer-updated

Update github token secret
  .github/workflows/main.yml
Due: none

fix(audio-mixer): Test conventional commit 1 (#7)
  audio-mixer/src/App.tsx
Due: audio-mixer-updated

chore(release): v1.0.1
  CHANGELOG.md
  package.json
Due: none

fix(audio-mixer): test - 2
  .github/workflows/main.yml
  audio-mixer/src/App.tsx
Due: audio-mixer-updated

fix(audio-mixer): test - 2
  .github/workflows/main.yml
Due: none

fix(audio-mixer): test - 2 (#8)
  audio-mixer/src/App.tsx
Due: audio-mixer-updated

chore(release): v1.0.2
  CHANGELOG.md
  package.json
Due: none

audio-mixer release
  .github/workflows/main.yml
Due: none

fix(audio-mixer): test - 3
  audio-mixer/src/App.tsx
Due: audio-mixer-updated

fix(audio-mixer): test - 3 (#9)
  audio-mixer/src/App.tsx
Due: audio-mixer-updated

chore(release): v2.2.2
  CHANGELOG.md
  audio-mixer/package.json
Due: audio-mixer-updated

check if changelog output was false
  .github/workflows/main.yml
Due: none

Path conditions:
  video-composer-updated: any of: video-composer/.*
  audio-mixer-updated: any of: audio-mixer/.*
